<b>iOS</b>
<p>Swift, Xcode, App Store Connect, SwiftUI, UIKit, SnapKit, Objective-C, Vision, AVFoundation,
    Clean, Profiling, Unit testing, UI test, XCTest</p>
    
<b>Android</b>
<p>Java, PlayStore Console, Firebase, Kotlin, Compose, Retrofit, App Gallery</p>

<b>Cross-platform</b>
<p>Flutter, Ionic, React native, Appium</p>

<b>Software architecture</b>
<p>VMMV, Viper, Clean Architecture, SOLID, DRY, MVC, MVP, Observable, Iterator, Abstract factory</p>

<b>Version control, quality and DevOps</b>
<p>Git, BitBucket, GitHub, GitLab, Xcode cloud, Circle Ci, Sonarqube</p>

<b>UI / UX</b>
<p>Figma, Invision, Sketch, Adobe XD</p>

<b>Web</b>
<p>Reack, Angular, Astro, HTML, CSS, Javascript, Node.js, Jest, Selenium</p>

<b>Cloud</b>
<p>AWS, GCP, Azure, Digital Ocean</p>