<h2>iOS</h2>
<p>Swift, Xcode, App Store Connect, SwiftUI, UIKit, SnapKit, Objective-C, Vision, AVFoundation,
    Clean, Profiling, Unit testing, UI test, XCTest</p>
    
<h3>Android</h3>
<p>Java, PlayStore Console, Firebase, Kotlin, Compose, Retrofit, App Gallery</p>

<h4>Cross-platform</h4>
<p>Flutter, Ionic, React native, Appium</p>

<h1>Software architecture</h1>
<p>VMMV, Viper, Clean Architecture, SOLID, DRY, MVC, MVP, Observable, Iterator, Abstract factory</p>

<h1>Version control, quality and DevOps</h1>
<p>Git, BitBucket, GitHub, GitLab, Xcode cloud, Circle Ci, Sonarqube</p>

<h1>UI / UX</h1>
<p>Figma, Invision, Sketch, Adobe XD</p>

<h1>Web</h1>
<p>Reack, Angular, Astro, HTML, CSS, Javascript, Node.js, Jest, Selenium</p>

<h1>Cloud</h1>
<p>AWS, GCP, Azure, Digital Ocean</p>