<h4>iOS</h4>
<p>Swift, Xcode, App Store Connect, SwiftUI, UIKit, SnapKit, Objective-C, Vision, AVFoundation,
    Clean, Profiling, Unit testing, UI test, XCTest</p>
    
<h4>Android</h4>
<p>Java, PlayStore Console, Firebase, Kotlin, Compose, Retrofit, App Gallery</p>

<h4>Cross-platform</h4>
<p>Flutter, Ionic, React native, Appium</p>

<h4>Software architecture</h4>
<p>VMMV, Viper, Clean Architecture, SOLID, DRY, MVC, MVP, Observable, Iterator, Abstract factory</p>

<h4>Version control, quality and DevOps</h4>
<p>Git, BitBucket, GitHub, GitLab, Xcode cloud, Circle Ci, Sonarqube</p>

<h4>UI / UX</h4>
<p>Figma, Invision, Sketch, Adobe XD</p>

<h4>Web</h4>
<p>Reack, Angular, Astro, HTML, CSS, Javascript, Node.js, Jest, Selenium</p>

<h4>Cloud</h4>
<p>AWS, GCP, Azure, Digital Ocean</p>